.shy_ball {
  width: 100%;
  height: 100%;
  grid-area: 1 / 2 / 3 / 3;
  background: rgb(97,206,112);
background: linear-gradient(180deg, rgba(97,206,112,1) 0%, rgba(151,235,163,1) 25%, rgba(176,240,185,1) 50%, rgba(151,235,163,1) 75%, rgba(97,206,112,1) 100%);
}

.ball {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  box-sizing: border-box;
  position: relative;
  top: 2%;
  left: 2%;
  transition: 3s;
}

.ball img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: black 1px 1px 10px 1px;
}